.header-toolbar {
  background-color: inherit;
  color: inherit;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}


.app-title {
  font-weight:inherit;
  font-size: 20px;
  color: inherit;
}

.spacer {
  flex: 1;
}

.username {
  margin-right: 16px;
}
