.header-toolbar {
  background-color: var(--mat-palette-cyan-700);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}


.app-title {
  font-weight: bold;
  font-size: 20px;
  color: black
}

.spacer {
  flex: 1;
}

.username {
  margin-right: 16px;
}
